@font-face {
    font-family: "Gunship";
    src: url("../../fonts/gunship.ttf") format("truetype");
}
@font-face {
    font-family:"CL EvoluFont";
    src: url("../../fonts/CL EvoluFont.ttf") format("truetype");
}
body{
    background-color: rgb(24, 59, 72);
    background-image: radial-gradient(circle at center center, rgb(22, 74, 104),rgb(68, 109, 126));
}
.tout{
    display: flex;
}
header {
    display: block;
    font-size:larger;
    border: 1.5px solid rgba(126, 185, 209, 0.781);
    background-image:url("OIP.jpg");
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family:"CL EvoluFont", sans-serif;
 }
.contenu_baniere{
    display: block;
    position:sticky;
    top:0;
    flex: 0 0 200px;
    height: 100vh;
    font-size: 16.5px;
    flex-direction: column;
    margin-right: 30px;
    width: 100%;
    min-height: 100vh;
    font-family:"Gunship",sans-serif;
    font-style: normal;
    border: 1.5px solid rgba(126, 185, 209, 0.781);
    background-color:rgb(47, 110, 135); 
    border-right: 2px solid rgba(126, 185, 209, 0.781);
    left: 0; 
}
 figure{ 
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.photo_avatar{ 
    position:sticky;
    top:0px 0px 200px;
    
}
.photo_1 {
    width: 100%;
    border: 2px solid rgba(126, 185, 209, 0.781);
}
.informations{
    font-size: 70%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.titre{
    text-align:center;
    display: block;
    font-size: 100%;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
hr{
    border: none;
    border-top: 1.5px double rgba(126, 185, 209, 0.781);
    margin: 10px 0;
}
.tout{
    font-family:"Gunship",sans-serif;
    font-style: normal;
}
.rond::before{
    content: "●"; 
    color: rgb(224, 224, 86); 
    margin-right: 10px;
}





